* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    font-family: 'Epilogue', sans-serif;
    width: 90%;
    margin: auto;
    
}




.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 50px 30px;
    align-content: center;
    
    
    

}

.request {
    border-radius: 6px;
    text-align: center;
    height: 56px;
    width: 219px;
    border-radius: 6px;
    border: 1px solid #172339;
    background-color: #ffffff;
    cursor: pointer;
    color: #172339;
}

.nav .request:hover {
    background: #172339;
    color: #ffffff;

}
.logo {
    width: 78.41px;
    height: 24.8px;
    left: 166.15px;
    top: 62.58px;
    
}

.sec1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    height: 600px;
    margin: 67px 10px;
    
   
}

.sec1 button {
    background-color:#172339 ;
    color:#ffffff;
    
}

.sec1 button:hover {
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}

.left-center {
    display: flex;
    
}

.right {
    margin-top: 80px;
    padding-bottom: 50px;

}
.companies, .languages, .leads {
    padding-bottom: 50px;
}




 
.caps {
    text-transform: uppercase;
    font-size: 10px;
}
 


.left {
    margin-top: -47px;
    padding-left: 10px;
    z-index: 1;
    line-height: 38px;
}

 
.curve {
    padding-left: 300px;
    
    
}
.left p {
    padding-bottom: 30px;
}

.center{
    margin-left: -100px;
}

.left p:first-child {
    font-size: 78px;
    line-height: 64px;
    color: #172339;
    
}

.grey {
    color: #49566D;
}
.bold {
    font-size: 78px;
    font-weight: bold;
    
}

.bold2 {
    font-size: 42px;
    font-weight: bold;
    color: #172339;
}

.first {
    font-size: 78px;
    line-height: 64px;
    color: #172339;
    margin-top: -80px;
    
}



.center {
    width: 350px;
    height: 50px;
}

.sec2 {
    height: 390px;
    
    
}

.extend {
   
    background-color: #172339;
    color: #ffffff;
    border-radius:15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 10px;
    margin: 180px 20px;
    
    
}

.right2 {
    text-align: end;
    width: 50%;
    line-height: 28px;
    
}



.right2 p:first-child {
    font-size: 42px;
    

}
.bold1 {
    font-weight: bold;
}

.cream {
    color: #F3EDE7;
}

.sec2 img {
    height: 390px;
}


.jeremy {
    position: absolute;
    width: 359px;
    left: 288px;
    top: 900px;
    
 }

 footer {
    width: 100%;
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10 10px 10px 15px;
 }

 .icon {
    padding: 10px 40px;
 }

 .icon:hover {
    background: #495664;
    
 }

 .logo1 {
    width: 78.41px;
    height: 24.8px;
    left: 166.15px;
    top: 62.58px;
    margin-left: 20px;
 }


 @media  (max-width: 1280px) and (min-width: 601px) {
    
    body {
        margin: auto;
        width: 100%;
        height: 2100px;
    }

    


    .sec1 {
        width: 95%;
    }

    .left {
        z-index: 1;
        width: 573px;
        
        
    }
    .curve {
        width: 550px;
        height: 40px;
    }

    .first {
        font-size: 56px;
        font-weight: 400;
        width: 800px;
        height: 129px;

    }

    .right {
        width: 90%;
        display: flex;
        justify-content: space-around;
        padding: 50px 0;
        

        
    }

    .sec2 {
        padding-top: 200px;
        
        
    }

    .extend {
        height: 700px;
                
    }

    .right2 {
        position: relative;
        top: 300px;
        text-align: center;
    }

    
    .jeremy {
        left: 230px;
        top: 1070px;
        
    }

    footer {
        position: relative;
        bottom: -620px;
    }

    


    

    

   
    
 }



 
 @media (max-width: 653px) and (min-width: 280px) {
    

    body {
        width:100% ;
        margin: auto;
        height: 2300px;
        
        
    }

    .request {
        width: 150px;
        padding: 0 10px;
    }
    

     
    .logo {
        width: 50px;
        height: 24px;
    }

    .center {
        display: none;
    }

    .sec1 {
        display: inline-block;
        padding-right: 60px;
        width: auto;
    }

    .left {
        margin-top: -100px;
        padding-left: -80px;
    }

    .curve {
        padding-left: 50px;
        width: 150px;
        height: 20px;
    }

    .left p:first-child {
        font-size: 30px;
        

    }

    .sec1 button {
        width: 219px;
        height: 56px;
    }

    .right {
        text-align: center;
        height: 330px;
    }

    .companies, .languages, .leads {
        padding-bottom: 20px;
    }

   

    .extend {
        display: inline-block;
        position: absolute;
        top: 1280px;
        width: auto;
        height: 800px;
        
       
        
    
    }

    .jeremy {
        width: 200px;
        height: 50px;
        left: 60px;
        top: -80px;
        position: absolute;
        
        
        
       
        
    }

    .right2 {
        text-align: center;
        position: relative;
        top: 250px;
        padding: 25px 0;
        width: 100%;
    }
    
    footer {
        display: inline-block;
        text-align: center;
        position: relative;
        bottom: -520px;
        left: 30px;
    }

 }
